.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.box{
    
    padding: 20px;
    background-color: rgb(76, 205, 252);
    border-radius: 10px;
    box-shadow:  0 0 15px #5ae9ff;
    color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    font-weight: 600;
    font-size: 1.1rem;

}
.box:hover{
    background-color: #f7f7f7;
    color: rgb(76, 205, 252);
    box-shadow: 0 0 10px #9cf2ff;
    scale: 1.1;
    transition: 0.3s 0.2s;
}
.box:active{
    background-color: rgb(76, 205, 252);
    color: #ededed;
    box-shadow: 0 0 10px #9cf2ff;
    scale: 1;
    transition: 0.1s;
}